[user]
	name = Valeriy Manenkov
	email = v@manenkov.com
	signingkey = 2366877A
[commit]
	gpgsign = true
[core]
	autocrlf = false
[alias]
	co = commit
	br = branch
	st = status
	di = diff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
